<?xml version="1.0" encoding="gb2312"?>
<root>
	<item>
		<vname>教学目标</vname>
		<vchld>
			<vname>知识与技能</vname>
			<vlink>hb.html</vlink>
		</vchld>
		<vchld>
			<vname>过程与方法</vname>
			<vlink>hb.html</vlink>
		</vchld>
		<vchld>
			<vname>情感、态度与价值观</vname>
			<vlink>hb.html</vlink>
		</vchld>
		<vchld>
			<vname>教学重、难点</vname>
			<vlink>hb.html</vlink>
		</vchld>
	</item>
	<item>
		<vname>引入</vname>
		<vlink>hb.html</vlink>
	</item>
	<item>
		<vname>人类拥有的水资源</vname>
		<vchld>
			<vname>地球上的水资源</vname>
			<vlink>hb.html</vlink>
		</vchld>
		<vchld>
			<vname>地球上的淡水资源</vname>
			<vlink>hb.html</vlink>
		</vchld>
		<vchld>
			<vname>人均水量</vname>
			<vchld>
				<vname>世界人均水量</vname>
				<vlink>hb.html</vlink>
			</vchld>
			<vchld>
				<vname>一些国家的人均水量</vname>
				<vlink>hb.html</vlink>
			</vchld>
			<vchld>
				<vname>我国各地区的人均水量</vname>
				<vlink>hb.html</vlink>
			</vchld>
		</vchld>
		<vchld>
			<vname>人类水资源紧缺</vname>
			<vchld>
				<vname>资源紧缺的原因</vname>
				<vlink>hb.html</vlink>
			</vchld>
			<vchld>
				<vname>水资源紧缺招标</vname>
				<vlink>hb.html</vlink>
			</vchld>
		</vchld>
	</item>
	<item>
		<vname>爱护水资源</vname>
		<vchld>
			<vname>节约水资源</vname>
			<vlink>hb.html</vlink>
		</vchld>
		<vchld>
			<vname>防止水体污染</vname>
			<vlink>hb.html</vlink>
		</vchld>
	</item>
	<item>
		<vname>课堂练习</vname>
		<vlink>ktlx.html</vlink>
	</item>
	<item>
		<vname>友情链接</vname>
		<vchld>
			<vname>中国水网</vname>
			<vlink>http://www.h2o-china.com/</vlink>
			<vtagt>_blank</vtagt>
		</vchld>
		<vchld>
			<vname>中国水势</vname>
			<vlink>http://www.waterinfo.com.cn/</vlink>
			<vtagt>_blank</vtagt>
		</vchld>
		<vchld>
			<vname>中国水利科技网</vname>
			<vlink>http://www.chinawater.net.cn/</vlink>
			<vtagt>_blank</vtagt>
		</vchld>
		<vchld>
			<vname>中国水资源</vname>
			<vlink>http://www.shuiziyuan.mwr.gov.cn/</vlink>
			<vtagt>_blank</vtagt>
		</vchld>
	</item>
</root>